.theme-base-0c .content .download-button a {
    background-color: #acd3cc;
    color: black; 
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 10px;
    display: inline-block;
}

.theme-base-0c .content .download-button :hover {
     background-color: #75b5aa;
     text-decoration: none;
}

