---
layout: default
---

{{ d.version }}

{% if d %}
{% assign page = d %}
{% endif %}

<div class="page">
  <h1 class="page-title">FLIMfit {{ page.version }}</h1>

  	<p>Please acknowledge "the FLIMfit software tool developed at Imperial College London" in any publications benefitting from its use and cite <a href="https://dx.doi.org/10.1371/journal.pone.0070687">Warren et al (2013). Rapid global fitting of large fluorescence lifetime imaging microscopy datasets. PloS One, 8(8), e70687</a>.</p>
	
	<p>In order for us to monitor the use of FLIMfit and to support its ongoing development, please send details of any such publications to: <a href="mailto:info@flimfit.org">info@flimfit.org</a></p>

	<h2>FLIMfit downloads</h2>
	<span class="download-button"><a href="{{ page.pc-download }}">Download FLIMfit {{ page.version }}&nbsp;&nbsp;<i class="fa fa-windows" aria-hidden="true"></i> PC</a></span>
	<span class="download-button"><a href="{{ page.mac-download }}">Download FLIMfit {{ page.version }}&nbsp;&nbsp;<i class="fa fa-apple" aria-hidden="true"></i> Mac</a></span>

	<h2>Matlab Runtime (MCR) downloads</h2>
	<span class="download-button"><a href="http://downloads.flimfit.org/mcr/MCR_{{ page.mcr-version }}_win64_installer.exe">Download MCR&nbsp;&nbsp;<i class="fa fa-windows" aria-hidden="true"></i> PC</a></a></span>
	<span class="download-button"><a href="http://downloads.flimfit.org/mcr/MCR_{{ page.mcr-version }}_maci64_installer.zip">Download MCR&nbsp;&nbsp;<i class="fa fa-apple" aria-hidden="true"></i> Mac</a></a></span>

	<h2>Notes</h2>
	<ul>
		<li>This version of FLIMfit is compatible with OMERO {{page.ome-version}} servers. If you require compatibility with an earlier OMERO server, earlier versions are available from the <a href="{{site.baseurl}}downloads/">main downloads page</a>.</li>

		<li>Mac users, to run FLIMfit you will need the correct Matlab Runtime (MCR) installed on your system (currently {{ page.mcr-version }}). The MCR for your platform can be downloaded using the button above. This should not be needed for Windows as the Installer will automatically install the MCR when connected to the internet.</li>

		<li>This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.</li>
	</ul>


	<h2>Previous Versions</h2>
	You can download previous versions at <a href="{{site.baseurl}}downloads">the main downloads page</a>

	
</div>
